<div class="content-wrapper">
  <div style="margin: 0px 20px">
    <div style="font-size: 30px">Kupon Listesi</div>
    <div style="margin: 20px 0px">
      <button
        class="btn btn-dark"
        style="margin-left: 400px; width: 200px"
        data-bs-toggle="modal"
        data-bs-target="#addModal"
      >
        Kupon Ekle
      </button>
    </div>
    <div>
      <table class="table" style="margin: 0px; width: 600px">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Kupon Adı</th>
            <th scope="col">Kupon Oranı</th>
            <th scope="col" style="width: 200px">İşlemler</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let coupon of coupons; let index = index">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ coupon.name }}</td>
            <td>{{ coupon.discountRate }}</td>
            <td>
              <button
                class="btn btn-dark"
                style="margin: 0px 5px"
                (click)="get(coupon)"
                data-bs-toggle="modal"
                data-bs-target="#updateModal"
              >
                Güncelle</button
              ><button (click)="removeById(coupon)" class="btn btn-danger">
                Sil
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="updateModal"
  tabindex="-1"
  aria-labelledby="updateModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="updateModalLabel">Kupon Güncelle</h1>
        <button
          type="button"
          id="updateModalCLoseBtn"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form
        autocomplete="off"
        #updateForm="ngForm"
        (ngSubmit)="update(updateForm)"
      >
        <div class="modal-body">
          <label for="UpdateName">Kupon Adı</label>
          <input
            type="text"
            [(ngModel)]="updateCoupon.name"
            class="form-control"
            name="name"
            id="name"
            #name
            [appValid]="name.validity.valid"
            required
          />
        </div>
        <div class="modal-body">
          <label for="UpdateName">Kupon Oranı</label>
          <input
            type="text"
            [(ngModel)]="updateCoupon.discountRate"
            class="form-control"
            name="discountRate"
            id="discountRate"
            #discountRate
            [appValid]="discountRate.validity.valid"
            required
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Kapat
          </button>
          <button type="submit" class="btn btn-dark">Güncelle</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="addModal"
  tabindex="-1"
  aria-labelledby="addModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addModalLabel">Kupon Ekle</h1>
        <button
          type="button"
          id="addModalCLoseBtn"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form autocomplete="off" #addForm="ngForm" (ngSubmit)="add(addForm)">
        <div class="modal-body">
          <label for="name">Kupon Adı</label>
          <input
            type="text"
            [(ngModel)]="updateCoupon.name"
            class="form-control"
            name="name"
            id="name"
            #name
            [appValid]="name.validity.valid"
            required
          />
        </div>
        <div class="modal-body">
          <label for="name">Kupon Oranı</label>
          <input
            type="text"
            [(ngModel)]="updateCoupon.discountRate"
            class="form-control"
            name="discountRate"
            id="discountRate"
            #discountRate
            [appValid]="discountRate.validity.valid"
            required
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Kapat
          </button>
          <button type="submit" class="btn btn-dark">Kaydet</button>
        </div>
      </form>
    </div>
  </div>
</div>
