<div class="content-wrapper">
    <div style="margin: 0px 20px;">
        <div style="font-size: 30px;">
           Kategori Listesi 
        </div>
        <div style="margin: 20px 0px;">
            <button class="btn btn-dark">Kategori Ekle</button>
        </div>
       <div style="margin-right: 1100px;">
        <table class="table" style="margin: 0px;">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Kategori Adı</th>
                <th scope="col">İşlemler</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Hırka</td>
                <td><button class="btn btn-dark" style="margin: 0px 5px;">Güncelle</button><button class="btn btn-danger">Sil</button></td>
              </tr>                   
            </tbody>
          </table>
       </div>
    </div>
    </div>