<div class="content-wrapper">
  <div style="margin: 0px 20px;">
      <div style="font-size: 30px;">
         Liste des commandes 
      </div>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Date de la commande</th>
              <th scope="col">Nom du client</th>
              <th scope="col">Adresse de livraison</th>
              <th scope="col">Image du produit</th>
              <th scope="col">Nom du produit</th>
              <th scope="col">Taille</th>
              <th scope="col">Quantité</th>
              <th scope="col">Prix unitaire</th>
              <th scope="col">Montant</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>{{order.createdDate | date: 'dd.MM.yyyy HH:mm:ss'}}</td>
              <td>{{order.name}}</td>
              <td>{{order.address}}</td>
              <td>
                  <img [src]="'http://localhost:5000/' + order?.products[0]?.imageUrls[0]?.path" width="90" height="120"/>
              </td>
              <td>{{order?.products[0]?.name}}</td>        
              <td>{{order.size}}</td>        
              <td>{{order.quantity}}</td>
              <td>{{order.price}}</td>
              <td>{{+(order.price * order.quantity)}} TL</td> 
              </tr>
          </tbody>
        </table>
  </div>
</div>
