<div class="content-wrapper">
    <div style="margin: 0px 20px;">
        <div style="font-size: 30px;">
           Siparişler Listesi 
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ürün Resmi</th>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Kataegoriler</th>
                <th scope="col">Stok Bilgisi</th>
                <th scope="col">Birim Fiyatı</th>
                <th scope="col">Oluşturulma Tarihi</th>
                <th scope="col">Aktif/Pasif</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Resim</td>
                <td>siyah</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Resim</td>
                <td>siyah</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>Resim</td>
                <td>siyah</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
              </tr>
               <tr>
                <th scope="row">1</th>
                <td>Resim</td>
                <td>siyah</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
                <td>Tsirth</td>
              </tr>
            </tbody>
          </table>
    </div>
    </div>