<div class="content-wrapper">
    <div style="margin: 0px 20px;">
        <div style="font-size: 30px;">
           Siparişler Listesi 
        </div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Ürün Resmi</th>
                <th scope="col">Ürün Adı</th>
                <th scope="col">Beden</th>
                <th scope="col">Adet</th>
                <th scope="col">Birim Fiyatı</th>
                <th scope="col">Tutar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let order of orders">
                <td>{{order.createdDate |date: 'dd.MM.yyyy HH:mm:ss'}}</td>
                <td>
                    <img [src]="'http://localhost:5000/' + order?.products[0]?.imageUrls[0]?.path" width="90" height="120"/>
                </td>
                <td>{{order?.products[0]?.name}}</td>        
                <td>{{order.size}}</td>        
                <td>{{order.quantity}}</td>
                <td>{{order.price}}</td>
                <td>{{+(order.price * order.quantity)}} TL</td> 
                </tr>
            </tbody>
          </table>
    </div>
    </div>