<div class="content-wrapper row-center">
  <div class="ml-3">
    <h3 style="font-size: 30px">Ürün Ekleme Sayfası</h3>
  </div>
  <div class="col-md-6 ml-3 mt-4">
    <form #addForm="ngForm" autocomplete="off" (ngSubmit)="add(addForm)">
      <div class="form-group">
        <label for="name">Ürün Adı</label>
        <input
          type="text"
          name="name"
          id="name"
          ngModel
          required
          #name
          minlength="3"
          class="form-control"
          [appValid]="name.validity.valid"
        />
        <div class="invalid-feedback">Ürün adı en az 3 karakter olmalıdır!</div>
      </div>
      <div class="form-group mt-2">
        <label for="categoriesSelect">Kategoriler</label>
        <select
          class="form-control"
          name="categoriesSelect"
          id="categoriesSelect"
          ngModel
          multiple
          #categoriesSelect
        >
          <option *ngFor="let category of categories" [value]="category._id">
            {{ category.name }}
          </option>
        </select>
      </div>
      <div class="form-group mt-2">
        <label for="stockS">StokS Adedi</label>
        <input
          type="number"
          name="stockS"
          id="stockS"
          ngModel
          required
          #stockS
          min="1"
          class="form-control"
          [appValid]="stockS.validity.valid"
        />
        <div class="invalid-feedback">Ürün stok adedi en az 1 olmalıdır!</div>
      </div>
      <div class="form-group mt-2">
        <label for="stockM">StokM Adedi</label>
        <input
          type="number"
          name="stockM"
          id="stockM"
          ngModel
          required
          #stockM
          min="1"
          class="form-control"
          [appValid]="stockM.validity.valid"
        />
        <div class="invalid-feedback">Ürün stok adedi en az 1 olmalıdır!</div>
      </div>
      <div class="form-group mt-2">
        <label for="stockX">StokX Adedi</label>
        <input
          type="number"
          name="stockX"
          id="stockX"
          ngModel
          required
          #stockX
          min="1"
          class="form-control"
          [appValid]="stockX.validity.valid"
        />
        <div class="invalid-feedback">Ürün stok adedi en az 1 olmalıdır!</div>
      </div>
      <div class="form-group mt-2">
        <label for="stockXl">StokXl Adedi</label>
        <input
          type="number"
          name="stockXl"
          id="stockXl"
          ngModel
          required
          #stockXl
          min="1"
          class="form-control"
          [appValid]="stockXl.validity.valid"
        />
        <div class="invalid-feedback">Ürün stok adedi en az 1 olmalıdır!</div>
      </div>
      <div class="form-group mt-2">
        <label for="price">Birim Fiyatı</label>
        <input
          type="number"
          name="price"
          id="price"
          ngModel
          required
          #price
          min="1"
          class="form-control"
          [appValid]="price.validity.valid"
        />
        <div class="invalid-feedback">Ürün birim fiyatı en az 1 olmalıdır!</div>
      </div>
      <div class="form-group mt-2">
        <label for="description">Açıklama</label>
        <input
          type="text"
          name="description"
          id="description"
          ngModel
          required
          #description
          min="1"
          class="form-control"
          [appValid]="description.validity.valid"
        />
        <div class="invalid-feedback">Açıklama giriniz</div>
      </div>
      <div class="form-group mt-2">
        <label for="images">Ürün Resimleri</label>
        <input
          type="file"
          name="images"
          id="images"
          ngModel
          multiple
          class="form-control"
          (change)="getImages($event)"
        />
      </div>
      <hr />
      <div class="form-group mt-2">
        <p>Seçilen Resimler</p>
        <span
          (click)="removeImage(image.name, image.size, i)"
          *ngFor="let image of imageUrls; let i = index"
        >
          <img [src]="image.imageUrl" width="100" height="130" style="padding-left: 10px;" class="mx-1" />
        </span>
      </div>
      <div class="form-group mt-2">
        <button class="btn btn-dark w-100">Kaydet</button>
      </div>
    </form>
  </div>
</div>
