<section class="slider">
  <div class="slider-elements">
    <div class="slider-item">
      <div class="slider-image">
        <img
          src="../../../assets/img2/erkekmaindesk1203_1.jpeg"
          class="img-fluid"
          alt=""
        />
      </div>
      <div class="container1">
        <p class="slider-title">İÇGÜDÜSEL VE BENZERSİZ</p>
        <h2 class="slider-heading">
          Can's 'ın 2024 İlbahar/Yaz koleksiyonu modanın <br />
          dönüşen doğasını kusursuz biçimde yansıtıyor
        </h2>
      </div>
    </div>
    <!-- <div class="slider-buttons">
      <button>
        <i class="bi bi-chevron-left"></i>
      </button>
      <button>
        <i class="bi bi-chevron-right"></i>
      </button>
    </div> -->
  </div>
</section>

<section>
  <div class="product-wrapper">
    <div>
      <h1>Yeni Ürünler</h1>
    </div>
    <div>
      <ul class="product-list">
        <li class="product-item" *ngFor="let product of products; let i = index">
          <div class="product-image">
            <a routerLink="/product-single/{{ product._id }}">
              <img
                [src]="'http://localhost:5000/' + product.imageUrls[0].path"
                alt=""
              />
            </a>
          </div>
          <div class="product-info">
            <a href="#" class="product-title">{{ product.name }}</a>
            <div class="product-price">
              <strong>{{ product.price }} TL</strong>
            </div>
          </div>
        </li>
      </ul>
    </div>

</div>
</section>

<section class="campaigns">
  <div class="">
    <div class="campaigns-wrapper">
      <div class="campaign-item">
        <h3 class="campaign-title">Sweartshirt</h3>
        <p class="campaign-desc one-aa">
          Bazen en rahat hissettiğimiz yer, <br />
          sevdiğimiz bir sweatshirt'ün <br />
          içindedir.
        </p>
        <a href="#" class="btn btn-light">
          Keşfet <i class="bi bi-arrow-right"></i
        ></a>
      </div>
      <div class="campaign-item">
        <h3 class="campaign-title two">Takım Elbise</h3>
        <p class="campaign-desc two">
          Stil sadece bir takım elbise değildir,<br />onun altında yatan özgüven
          ve <br />
          karakterdir.
        </p>
        <a href="#" class="btn btn-dark"
          >Keşfet <i class="bi bi-arrow-right"></i
        ></a>
      </div>
      <div class="campaign-item">
        <h3 class="campaign-title">Ayakkabı</h3>
        <p class="campaign-desc">
          Yolun en güzel adımları, en <br />sevdiğimiz ayakkabılarla <br />
          atılır.
        </p>
        <a href="#" class="btn btn-light"
          >Keşfet <i class="bi bi-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>

<section class="campaign-single">
  <div class="container">
    <div class="campaign-wrapper">
      <h2>Yeni Seson İndirimi</h2>
      <strong>%40' a varan indirimler</strong>
      <a href="#" class="btn btn-light"
        >KEŞFET<i class="bi bi-arrow-right"></i
      ></a>
    </div>
  </div>
</section>

<section class="policy">
  <div class="container">
    <div class="policy-list">
      <div class="policy-item">
        <i class="bi bi-truck"></i>
        <div class="policy-texts">
          <strong>ÜCRETSİZ TESLİMAT</strong>
          <span>Tüm ürünlerde geçerli</span>
        </div>
      </div>
      <div class="policy-item">
        <i class="bi bi-headset"></i>
        <div class="policy-texts">
          <strong>7/24 DESTEK</strong>
          <span>24 saat çevrimiçi</span>
        </div>
      </div>
      <div class="policy-item">
        <i class="bi bi-arrow-clockwise"></i>
        <div class="policy-texts">
          <strong>15 GÜN İÇİNDE İADE</strong>
          <span>15 gün içinde geri dönmeniz yeterli</span>
        </div>
      </div>
      <div class="policy-item">
        <i class="bi bi-credit-card"></i>
        <div class="policy-texts">
          <strong>GÜVENLİ ÖDEME</strong>
          <span>3D SECURE</span>
        </div>
      </div>
    </div>
  </div>
</section>
