<section class="slider">
  <div class="slider-elements">
    <div class="slider-item">
      <div class="slider-image">
        <img
          src="../../../assets/img2/erkekmaindesk1203_1.png"
          class="img-fluid"
          alt=""
        />
      </div>
      
    </div>
  </div>
</section>

<section>
  <div class="product-wrapper">
    <div>
      <h1>Nouveaux Produits</h1>
    </div>
    <div>
      <ul class="product-list">
        <li class="product-item" *ngFor="let product of products; let i = index">
          <div class="product-image">
            <a routerLink="/product-single/{{ product._id }}">
              <img
                [src]="'http://localhost:5000/' + product.imageUrls[0].path"
                alt=""
              />
            </a>
          </div>
          <div class="product-info">
            <a href="#" class="product-title">{{ product.name }}</a>
            <div class="product-price">
              <strong>{{ product.price }} TL</strong>
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>
</section>

<section class="campaigns">
  <div class="">
    <div class="campaigns-wrapper">
      <div class="campaign-item">
        <h3 class="campaign-title">Sweatshirt</h3>
        <p class="campaign-desc one-aa">
          Parfois, l'endroit où l'on se sent le plus à l'aise est à l'intérieur de notre sweatshirt préféré.
        </p>
        <a href="#" class="btn btn-light">
          Découvrir <i class="bi bi-arrow-right"></i
        ></a>
      </div>
      <div class="campaign-item">
        <h3 class="campaign-title two">Costume</h3>
        <p class="campaign-desc two">
          Le style n'est pas seulement un costume, il représente la confiance et le caractère qui se cachent en dessous.
        </p>
        <a href="#" class="btn btn-dark"
          >Découvrir <i class="bi bi-arrow-right"></i
        ></a>
      </div>
      <div class="campaign-item">
        <h3 class="campaign-title">Chaussures</h3>
        <p class="campaign-desc">
          Les plus beaux pas sont faits avec nos chaussures préférées.
        </p>
        <a href="#" class="btn btn-light"
          >Découvrir <i class="bi bi-arrow-right"></i
        ></a>
      </div>
    </div>
  </div>
</section>

<section class="campaign-single">
  <div class="container">
    <div class="campaign-wrapper">
      <h2>Remise de Nouvelle Saison</h2>
      <strong>Jusqu'à -40%</strong>
      <a href="#" class="btn btn-light"
        >Découvrir <i class="bi bi-arrow-right"></i
      ></a>
    </div>
  </div>
</section>

<section class="policy">
  <div class="container">
    <div class="policy-list">
      <div class="policy-item">
        <i class="bi bi-truck"></i>
        <div class="policy-texts">
          <strong>LIVRAISON GRATUITE</strong>
          <span>Valable pour tous les produits</span>
        </div>
      </div>
      <div class="policy-item">
        <i class="bi bi-headset"></i>
        <div class="policy-texts">
          <strong>SUPPORT 24/7</strong>
          <span>Disponible 24 heures sur 24 en ligne</span>
        </div>
      </div>
      <div class="policy-item">
        <i class="bi bi-arrow-clockwise"></i>
        <div class="policy-texts">
          <strong>RETOUR DANS LES 15 JOURS</strong>
          <span>Il vous suffit de revenir dans les 15 jours</span>
        </div>
      </div>
      <div class="policy-item">
        <i class="bi bi-credit-card"></i>
        <div class="policy-texts">
          <strong>PAIEMENT SÉCURISÉ</strong>
          <span>3D SECURE</span>
        </div>
      </div>
    </div>
  </div>
</section>
