<div class="container" style="margin-top: 130px;">
    <div class="row baskets-wrapper">
        <div class="col-md-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Sipariş Tarhi</th>
                    <th scope="col">Ürün Resimi</th>
                    <th scope="col">Ürün Adı</th>
                    <th scope="col">Adet</th>
                    <th scope="col">Fiyatı</th>
                    <th scope="col">Toplam Tutar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="td-center">30.03.2024</td>
                    <td><img src="../../../assets/img2/products/1.png" alt=""></td>
                    <td class="td-center">Siyah Tsirth</td>
                    <td class="td-center">1</td>
                    <td class="td-center">180</td>
                    <td class="td-center">180</td>
                  </tr>
                  <tr>
                    <td class="td-center">30.03.2024</td>
                    <td><img src="../../../assets/img2/products/1.png" alt=""></td>
                    <td class="td-center">Siyah Tsirth</td>
                    <td class="td-center">1</td>
                    <td class="td-center">180</td>
                    <td class="td-center">180</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>