<div class="d-flex justify-content-center" style="margin-top: 50px; margin-bottom: 50px; margin-top: 150px;">
  <div style="width: 400px">
    <div class="card"  style="border-radius: 0;">
      <div class="mt-4">
        <h2 class="text-center">Inscrivez-vous</h2>
      </div>
      <div class="card-body">
        <form
          #registerForm="ngForm"
          (ngSubmit)="register(registerForm)"
          autocomplete="off"
        >
          <div class="form-group">
            <label for="name">Nom complet</label>
            <input
              class="form-control mt-2"
              style="border-color: #212529"
              type="text"
              [(ngModel)]="model.name"
              name="name"
              id="name"
              required
              #name
              [appValid]="name.validity.valid"
              style="border-radius: 0;"
            />
            <div class="invalid-feedback">Le champ Nom complet ne peut pas être vide !</div>
          </div>
          <div class="form-group mt-3">
            <label for="email">Adresse e-mail</label>
            <input
              class="form-control mt-2"
              style="border-color: #212529"
              type="email"
              [(ngModel)]="model.email"
              name="email"
              id="email"
              required
              #email
              [appValid]="email.validity.valid"
              style="border-radius: 0;"
            />
            <div class="invalid-feedback">Veuillez saisir une adresse e-mail valide !</div>
          </div>
          <div class="form-group mt-3">
            <label for="password">Mot de passe</label>
            <input
              class="form-control mt-2"
              style="border-color: #212529"
              type="password"
              name="password"
              [(ngModel)]="model.password"
              id="password"
              required
              #password
              [appValid]="password.validity.valid"
              style="border-radius: 0;"
            />
            <div class="invalid-feedback">Le champ Mot de passe ne peut pas être vide !</div>
          </div>
          <div class="form-group mt-2">
            <button [disabled]="!registerForm.valid" class="btn btn-dark w-100 mt-3"  style="border-radius: 0;">S'inscrire</button>
            <a
              routerLink="/login"
              style="float: right; margin-top: 10px; color: #212529"
              >Se connecter</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
