<div>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24025.986801569066!2d28.723543422122894!3d41.1727501149546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caabe79a123367%3A0x19404388f08355e!2sArnavutk%C3%B6y%20Merkez%2C%2034275%20Arnavutk%C3%B6y%2F%C4%B0stanbul!5e0!3m2!1str!2str!4v1710588099694!5m2!1str!2str" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="container">
    <div class="row contact-wrapper">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ad Soyad</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" style="border-radius: 0;">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email adresi</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" style="border-radius: 0;">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mesajınız</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="border-radius: 0;"></textarea>
              </div>
              <button class="btn btn-dark">Gönder</button>
        </div>
        <div class="col-md-4 contact-adress">
            <div>
                <strong>Adres:</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti voluptatibus ab at quae molestias repellat.</p>
                <strong>Telefon</strong>
                <p>0555 555 55 55</p>
                <strong>Açılış-Kapanış</strong>
                <p>Hafta içi 9-5</p>
            </div>
        </div>
  </div>
</div>