<div class="container">
    <div class="row contact-wrapper">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Ad Soyad</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" style="border-radius: 0;">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email adresi</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="" style="border-radius: 0;">
              </div>
              <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Mesajınız</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="border-radius: 0;"></textarea>
              </div>
              <button class="btn btn-dark">Gönder</button>
        </div>
        <div class="col-md-4 contact-adress">
            <div>
                <strong>Adres:</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti voluptatibus ab at quae molestias repellat.</p>
                <strong>Telefon</strong>
                <p>0555 555 55 55</p>
                <strong>Açılış-Kapanış</strong>
                <p>Hafta içi 9-5</p>
            </div>
        </div>
  </div>
</div>