<section style="margin-top: 130px;">
    <div class="container">
        <div class="site-main">
            <div class="product-gallery">
                <div class="single-image-wrapper">
                    <img class="img-fluid" [src]="selectedImage" alt="">
                </div>
                <div class="product-thumbs">
                    <ol class="gallery-thumbs">
                        <li  *ngFor="let image of thumbnailImages; let i = index" (click)="changeImage(i)">
                            <img class="img-fluid" [src]="image" alt="Thumbnail Image {{i}}">
                        </li>
                       
                    </ol>
                </div>
            </div>
            <div class="product-info">
                <h1 class="product-title">{{product.name}}</h1>
                <div class="product-price">
                    <strong>{{product.price}} TL</strong>
                </div>
                <div class="stoc">
                    <p>Stok Adedi:</p>
                    <strong *ngIf="selectedSize === 'S'">{{ product.stockS }}</strong>
                    <strong *ngIf="selectedSize === 'M'">{{ product.stockM }}</strong>
                    <strong *ngIf="selectedSize === 'X'">{{ product.stockX }}</strong>
                    <strong *ngIf="selectedSize === 'XL'">{{ product.stockXl }}</strong>
                </div>
                <div>
                    <p>Beden</p>
                    <div class="values-list">
                        <span (click)="selectSize('S')" [ngClass]="{ 'active': selectedSize === 'S' }">S</span>
                        <span (click)="selectSize('M')" [ngClass]="{ 'active': selectedSize === 'M' }">M</span>
                        <span (click)="selectSize('X')" [ngClass]="{ 'active': selectedSize === 'X' }">X</span>
                        <span (click)="selectSize('XL')" [ngClass]="{ 'active': selectedSize === 'XL' }">XL</span>
                    </div>
                </div>
                <button (click)="addBasket(product._id, product.price)" class="btn btn-dark">SEPETE EKLE</button>
                <h4>Ürün Özellikleri</h4>
                <p>{{product.description}}</p>
            </div>
        </div>
    </div>
</section>