<section style="margin-top: 91px;">
    <div class="container">
        <div class="mt-5">
            <input type="text" placeholder="Aramak istediğiniz ürünü giriniz" style="width: 800px; height: 40px; margin-left: 215px;">
            <button class="btn btn-dark" style="margin-left: 10px; margin-top: -5px; width: 100px;">Ara</button>
        </div>
    </div>
    <div class="container">
        <div class="categories-links">
            <ul class="categories-list">
                <li class="center-list-item">
                    <a href="#" class="list-item-link">Tüm Ürünler</a>
                </li>
                <li class="center-list-item">
                    <a routerLink="/product" class="list-item-link">Sweartshirt</a>
                </li>
                <li class="center-list-item">
                    <a href="#" class="list-item-link">Gömlek</a>
                </li>
                <li class="center-list-item">
                    <a href="#" class="list-item-link">Tshirt</a>
                </li>
                <li class="center-list-item">
                    <a href="#" class="list-item-link">Ayakkabı</a>
                </li>
                <li class="center-list-item">
                    <a href="#" class="list-item-link">Takım Elbise</a>
                </li>
                <li class="center-list-item">
                    <a href="#" class="list-item-link">Ceket</a>
                </li>
                <li class="center-list-item">
                    <a href="#" class="list-item-link">Bere</a>
                </li>
            </ul>
        </div>
        <div class="product-wrapper">
            <ul class="product-list">
                <li class="product-item">
                    <div class="product-image">
                        <a routerLink="/product-single">
                            <img src="../../../assets/img2/products/1.png" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title">Siyah Tshirt</a>
                        <div class="product-price">
                            <strong>108.00 TL</strong>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-image">
                        <a href="#">
                            <img src="../../../assets/img2/products/1.png" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title">Siyah Tshirt</a>
                        <div class="product-price">
                            <strong>108.00 TL</strong>
                        </div>
                    </div>
                </li>
                <li class="product-item">
                    <div class="product-image">
                        <a href="#">
                            <img src="../../../assets/img2/products/1.png" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title">Analogue Resin Strap</a>
                        <div class="product-price">
                            <strong>108.00 TL</strong>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>