<section style="margin-top: 91px;">
    <div class="container">
        <div class="categories-links">
            <ul class="categories-list">
                <li  (click)="changeCategory('','Tümü')"  class="center-list-item" [ngClass]="request.categoryName == 'Tümü' ? 'active' : ''">Tümü</li>
                <li (click)="changeCategory(category._id, category.name)" class="center-list-item" [ngClass]="request.categoryName == category.name ? 'active' : ''" *ngFor="let category of categories">
                   {{category.name}}
                </li>
            </ul>
        </div>
        <div class="product-wrapper">
            <div style="display: flex;">
                <div class="mb-3" style="width: 750px; margin-right: 10px;">
                    <input type="search" [(ngModel)]="request.search" class="form-control" placeholder="Arancak değeri yazınız">
                </div>
                <div>
                    <button style="width: 100px;" (click)="getAll()" class="btn btn-dark">Ara</button>
                </div>
            </div>
            <ul class="product-list">
                <li class="product-item" *ngFor="let product of products let i = index">
                    <div class="product-image">
                        <a routerLink="/product-single/{{product._id}}">
                            <img [src]="'http://localhost:5000/' + product.imageUrls[0].path" alt="">
                        </a>
                    </div>
                    <div class="product-info">
                        <a href="#" class="product-title">{{product.name}}</a>
                        <div class="product-price">
                            <strong>{{product.price}} TL</strong>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>