<footer class="footer">
  <div class="widgets-row">
    <div class="container1">
      <div class="footer-widgets">
        <div class="brand-info">
          <div class="footer-logo">
            <a href="#" class="logo">Magasin de Can</a>
          </div>
          <div class="footer-desc">
            <p>
              En tant que Magasin de Can, nous visons à vous offrir des produits de qualité et une expérience d'achat fiable.
            </p>
          </div>
          <div class="footer-contact">
            <p>
              <a href="#">Téléphone : 0555 555 55 55 - </a><a href="#">E-mail : cans&#64;gmail.com</a>
              

            </p>
          </div>
        </div>
        <div class="widget-nav-menu">
          <h4>Magasin de Can</h4>
          <ul class="menu-list">
            <li>
              <a href="#">Accueil</a>
            </li>
            <li>
              <a href="#">Produits</a>
            </li>
            <li>
              <a href="#">À propos de nous</a>
            </li>
            <li>
              <a href="#">Mes commandes</a>
            </li>
            <li>
                <a href="#">Contact</a>
           </li>
          </ul>
        </div>
        <div class="widget-nav-menu">
            <h4>Mon compte</h4>
            <ul class="menu-list">
              <li>
                <a href="#">Mes commandes</a>
              </li>
              <li>
                <a href="#">Mes adresses</a>
              </li>
              <li>
                <a href="#">Mes informations d'adhésion</a>
              </li>
              <li>
                <a href="#">S'inscrire</a>
              </li>
              <li>
                  <a href="#">Se connecter</a>
             </li>
            </ul>
          </div>
      </div>
    </div>
    <div class="footer-bootom">
      <p>Droit d'auteur Can's Store.com - Tous droits réservés</p>
    </div>
  </div>
</footer>
